<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
        <h3 class="subtitle is-5 is-muted">If you're interested in pursuing coaching for you or your employees, feel free to schedule a time slot below, or email me at dave@strategichopes.co</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">


<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/strategichopes/chemistry-session" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

        </div>
      </div>
    </div>
  </div>
</section>


