<section class="section section-light-grey is-medium" id="section5">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <table><tr><td><img src="/images/undraw_work_in_progress.svg"></td>
          <td><h3 class="subtitle is-5 is-muted">I'm currently working with what I believe are the right amount of clients to ensure good quality engagement; so I'm afraid I'm not taking on additional clients right now. if you're interested in finding out when I'm accepting new clients, please check on <a href="https://www.linkedin.com/company/strategic-hopes/">LinkedIn</a> or email me at <a href="mailto:dave@strategichopes.co">dave@strategichopes.co</a></h3></td></tr><tr><td colspan=2></td></tr></table>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">

        </div>
      </div>
    </div>
  </div>
</section>


